* {
  box-sizing: border-box;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #191C20;
  font-family: "Lucida Console", "Courier New", monospace;
}

.fixed-header {
  left: 0;
  right: 0;
  width: 100%;
  position: fixed;
  background: rgb(52, 129, 159);
  background: linear-gradient(9deg, rgba(52, 129, 159, 1) 0%, rgba(0, 212, 255, 1) 100%);
  padding: 10px 0;
  color: white;
}
.fixed-header {
  top: 0;
}

.header-container {
  width: 80%;
  margin: 0 auto;
}

textarea.textbox {
  width: 70%;
  border: 3px solid #cccccc;
  background-color: #1E2127;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  background-position: bottom right;
  background-repeat: no-repeat;
  font-size: x-small;
  color: white;
}

.form {
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
}

.form_elem {
  width: 100%;
  height: 250px;
}

.list {
  width: 70%;
  font-size: large;
  color: whitesmoke;
  background-color: #1E2127;
}

select.list:invalid {
  box-shadow: 0 0 5px 1px red;
}

textarea.textbox:invalid {
  box-shadow: 0 0 5px 1px red;
}

.submit {
  width: 100%;
  justify-content: flex-end;
}

button.generate {
  margin-right: 40px;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 35px 10px 10px 10px;
}

.form-elem {
  margin: 10px
}

.message-box {
  border-color: #cccccc;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: #1E2127;
}

.card {
  background-color: #313337;
  border-radius: 10px;
  margin: 10px;
}

.message-box-content {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  color: whitesmoke;
}

.hidable {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.wizard {
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: center;
  color: whitesmoke;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: whitesmoke;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.alert.success {
  background-color: #4CAF50;
}

.alert.info {
  background-color: #2196F3;
}

.alert.warning {
  background-color: #ff9800;
}

.closebtn {
  margin-left: 15px;
  color: whitesmoke;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: whitesmoke;
}

.large-number {
  width: 80px;
  height: 80px;
  padding: 15px 0px;
  background: rgb(52, 129, 159);
  background: linear-gradient(9deg, rgba(52, 129, 159, 1) 0%, rgba(0, 212, 255, 1) 100%);
  border-radius: 10px;
  text-align: center;
  font-size: 50px;
  color: azure;
  margin-top: 10px;
}

input[type=submit] {
  background-color: #cccccc;
  border-radius: 10px;
  padding: 16px 32px;
  color: whitesmoke;
  margin: 4px 2px;
  cursor: pointer;
  font-size: medium;
}